





ol {
    list-style-type: lower-alpha;
}

label {
    display: none;
}

.correct {
    background-color: green;
    color: white;
}
.incorrect {
    background-color: red;
    color: white;
}
.green-border {
    border: 2px solid green;
}
form {
    margin-bottom: 100px;
}
