




header {
    display: flex;
    align-items: center;
}
h1 {
    font-size: 1.5rem;
    margin-right: 30px;
}
ol {
    list-style-type: lower-alpha;
}

label {
    display: none;
}
.correct {
    background-color: green;
    color: white;
}
.incorrect {
    background-color: red;
    color: white;
}
.green-border {
    border: 2px solid green;
}
form {
    margin-bottom: 100px;
}
.separator {
    height: 20px;
    background-color: black;
    margin-left: -10px;
    margin-right: -10px;
}